::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

body {
    font-family: "Plus Jakarta Display", sans-serif;
}

/* Custom Utility Styles */

.fs-12 {
    font-size: 12px;
}

footer {
    background-color: #1dbe60;
}
